button {
	margin:5px;
}

.row {
	margin-top: 10px;
}

.glyph {
	line-height: inherit;
	width: 30px;
	margin-right: 4px;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}